.portfolio-carousel-item {
    width: 255px;
}

@media only screen and (min-width: 1024px) {
	.portfolio-carousel-item {
        width: 100%;
        svg
        {
            width: 80%;
        }
	}
}

@media only screen and (min-width: 1600px) {
    .portfolio-carousel-item {
        width: 100%;
        svg
        {
            width: 80%;
        }
	}
}