.mainpage-portfolio {
  .carousel-button-group-btn {
    padding: 10px;
    filter: invert(100%);
  }
  .react-multi-carousel {
    &-list {
      height: 190px;
    }
    &-item {
      display: flex;
      justify-content: center;
    }
  }
  .portfolio-carousel-item {
    display: flex;
    justify-content: center;
  }
}
.carousel-container {
  width: 100%;
}

@media only screen and (min-height: 600px) {
  .mainpage-portfolio .react-multi-carousel-list {
    height: 240px;
  }
}
@media only screen and (min-height: 800px) {
  .mainpage-portfolio .react-multi-carousel-list {
    height: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .mainpage-portfolio {
    .carousel-button-group-btn {
      display: none;
    }
    .portfolio-carousel-item {
      margin: 0 60px;
    }
    .carousel-container {
      margin: auto 0;
    }
  }
}

@media only screen and (min-width: 1366px) {
  .mainpage-portfolio {
    .portfolio-carousel-item {
      margin: 0 120px;
    }
  }
}
