header {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  padding: 40px 40px;
  .placeholder-div {
    width: 30px;
  }
}

@media only screen and (min-width: 768px) {
  header {
    padding: 60px 50px;
    .placeholder-div {
      display: none;
    }
  }
}

@media only screen and (min-width: 900px) {
  header {
    padding: 40px 90px;
  }
}
