header {
  height: 60px;
  width: 100vw;
  position: fixed;
  padding: 40px 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  z-index: 10;
  .placeholder-div
  {
    width: 30px;
  }
}

@media only screen and (min-width: 768px) {
  header {
    padding:  60px 90px;
    .placeholder-div {
      display: none;
    }
  }
}
