.contact-us-form {
  &-loader {
    height: 40px;
    margin: 0 auto;
    .white-bg & {
      filter: invert(1);
    }
  }
  &-input {
    position: relative;
    margin-bottom: 10px;
    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background: transparent;
      border-color: var(--white-color);
      border-style: solid;
      content: '';
    }

    &::before {
      top: 0;
      left: 0;
      border-width: 1px 0 0 1px;
    }
    &::after {
      right: 0;
      bottom: 0;
      border-width: 0 1px 1px 0px;
    }
    .white-bg &::before,
    .white-bg &::after {
      border-color: var(--primary-black-color);
    }
    &-error {
      &::before,
      &::after {
        border-color: var(--red-color);
      }
    }
    &-field {
      padding: 5px 0px;
      border: none;
    }
  }
  &-input-field,
  &-submit {
    display: block;
    width: 180px;
    color: var(--white-color);
    font-weight: var(--weight-normal);
    font-size: var(--font-15);
    font-style: normal;
    letter-spacing: 5px;
    text-align: center;
    text-transform: lowercase;
    background: transparent;
    .white-bg & {
      color: var(--primary-black-color);
    }
  }
  // линтер зацикливается
  /* stylelint-disable */
  &-submit {
    /* stylelint-enable */
    margin-top: 10px;
    padding: 10px 0;
    color: var(--white-color);
    font-weight: var(--weight-bold);
    font-size: var(--font-15);
    font-style: normal;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--white-color);
    cursor: pointer;
    .white-bg & {
      border-color: var(--primary-black-color);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

@media only screen and (min-height: 700px) {
  .contact-us-form {
    form {
      margin-top: 30px;
    }
    &-input-field,
    &-submit {
      width: 220px;
    }
    &-input-field {
      padding: 10px 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .contact-us-form {
    margin-left: 70px;
    form {
      align-items: flex-start;
      margin-top: 70px;
    }
    &-input-field,
    &-submit {
      width: 300px;
    }
    &-submit {
      width: 350px;
    }
    &-loader {
      width: 300px;
      margin: 10px 0;
    }
  }
}
